@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #333;
  font-size: 0.875rem;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
/* サイト全体のコンテンツ幅を設定　「margin: 0 auto」で中央に配置 */
.container {
  max-width: 1000px;
  margin: 0 auto;
}
/* 中のコンテンツ部分の最大幅を設定　「margin: 0 auto」で中央に配置 */
.inner {
  max-width: 800px;
  margin: 0 auto;
}
/* 各セクションの見出し用のクラス　各セクションの見出しは同じデザインなので、このクラスを共通で使用 */
.section-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
/* 「margin-top: 60px;」でヘッダー上部に余白 */
#header {
  margin-top: 60px;
}
/*
h1タグ
line-height にh1タグの高さよりも小さい値「1px」を指定することで、
h1タグの上下の余白が消えるため、ロゴ画像の高さと揃う
「line-height: 0;」を指定してもOKです
*/
#header .site-title {
  width: 180px;
  line-height: 1px;
  margin-bottom: 15px;
}
/* aタグのリンク範囲を親要素のサイズに広げる */
#header .site-title a {
  display: block;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
/* 「margin-bottom: 60px;」でメインビジュアルの下に余白を設定 */
#mainvisual {
  margin-bottom: 60px;
}

/*-------------------------------------------
Index
-------------------------------------------*/
/* 目次エリア全体を囲むクラス　「background-color: #f5f5f5;」で背景を、paddingで内側の余白を設定 */
#index {
  background-color: #f5f5f5;
  padding: 60px;
  margin-bottom: 60px;
}
/* 目次エリアの内側に枠線を引くためのクラス　「border: solid 1px #333;」で枠線を引き、「padding: 30px;」で内側に余白を設定 */
#index .index-inner {
  border: solid 1px #333;
  padding: 30px;
}
/*
「display: table;」と「margin: 0 auto;」で中央に配置。
※この方法を使うとテキストの長さに応じて可変で中央配置できる
*/
#index .index-inner .index-list {
  display: table;
  margin: 0 auto;
}
#index .index-inner .index-list li {
  margin-bottom: 20px;
}
/*
最後のliタグには margin-bottom を設定しない（目次の最後の行は下に余白が入らないよう）
*/
#index .index-inner .index-list li:last-child {
  margin-bottom: 0;
}

/*-------------------------------------------
Image
-------------------------------------------*/
/*
flex-wrap: wrap;
→改行あり
justify-content: space-between;
→両端揃えで均等に配置
*/
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
}
/*
「width: 49%;」で各画像の横幅を設定
49%にすることで左右の画像の間に2%の余白ができる
*/
.list li {
  width: 49%;
  margin-bottom: 15px;
}
/*
画像の下にできる隙間を消す
*/
.list li img {
  vertical-align: bottom;
}

/*-------------------------------------------
Detail
-------------------------------------------*/
#detail {
  background-color: #f5f5f5;
  padding: 60px;
  margin-bottom: 60px;
}
/* 「display: flex;」で書籍情報とテキストエリアを横並びに配置 */
#detail .flex {
  display: flex;
}
/* 書籍情報エリアの横幅を35%に設定
（※レスポンシブに対応するため、pxではなく%で設定
35%の数値はデザインを確認しながら同じサイズ感になるよう調整） */
#detail dl {
  width: 35%;
  border-right: solid 1px #333;
  padding-right: 40px;
}
#detail dt {
  font-weight: bold;
}
#detail dd {
  margin-bottom: 10px;
}
#detail dd:last-child {
  margin-bottom: 0;
}
/* 右側テキストエリアの横幅を65%に設定 */
#detail .text {
  width: 65%;
  padding-left: 40px;
}
#detail .text p {
  margin-bottom: 20px;
}
#detail .text .link {
  color: #333;
}
#detail .text .link:hover {
  opacity: 0.8;
}

/*-------------------------------------------
footer
-------------------------------------------*/
/* フォントサイズと余白を設定して、「text-align: center;」で中央寄せ */
#footer {
  font-size: 0.625rem;
  padding: 15px 0;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
/* ブレイクポイントを設定　コーディング仕様に従い、PCとスマホのレイアウトを1024pxで切り替え
（1024px以下がスマホで1025px以上がPCになる） */
@media screen and (max-width: 1024px) {
  .inner {
    padding: 0 20px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  /* スマホの場合は、「padding: 0 10px;」で両サイドの余白を設定 */
  #header {
    padding: 0 10px;
  }

  /*-------------------------------------------
  Index
  -------------------------------------------*/
  #index {
    padding: 40px 20px;
  }

  /*-------------------------------------------
  Image
  -------------------------------------------*/
  /*
  画像を縦に並べる
  */
  .list {
    flex-direction: column;
  }
    /* スマホの場合は、「width: 100%;」で画像が横幅いっぱいまで広がるように 
    「text-align: center;」を設定しているのは、画面幅を狭めてスマホレイアウトに切り替わった際に、
    画像が左に寄らないようにするため*/
  .list li {
    width: 100%;
    text-align: center;
  }

  /*-------------------------------------------
  Detail
  -------------------------------------------*/
  #detail {
    padding: 40px 20px;
  }
  /*
  要素を縦に並べる
  */
  #detail .flex {
    flex-direction: column;
  }
  /* スマホは横幅を100%の全幅に設定
  「border-right: none;」で右のラインを消して、「border-bottom: solid 1px #333;」で下に線を設定
  */
  #detail dl {
    width: 100%;
    border-right: none;
    border-bottom: solid 1px #333;
    padding: 0 0 40px 0;
  }
    /* スマホは横幅を100%の全幅に設定 */
  #detail .text {
    width: 100%;
    padding: 40px 0 0 0;
  }
}